<?xml version="1.0"?>
<launch>
    
    <arg name='depth' default='true' />
    <arg name="serial_no" value="021122070003"/>
    <arg name="camera" default="D435_head_camera"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no" value="$(arg serial_no)" />
        <arg name="camera" value="$(arg camera)" />
        <arg name="enable_depth" value="$(arg depth)" />
        <arg name="enable_color" value="true" />
        <arg name="enable_pointcloud" value="$(arg depth)" />
        <arg name="ordered_pc" value="$(arg depth)" />
        <arg name="align_depth" value="$(arg depth)" />
    </include>
    
</launch>
